@page "/"
@using ToDoManagement.Client.Components

<PageTitle>Home</PageTitle>

<h1>Your ToDos</h1>

@* <ToDoContainer ToDos="@_toDos" />

<button 
    type="button" 
    class="btn btn-primary" 
    onclick="@(() => AddNewToDo())">Primary</button> *@